@import helper._
@import scala.collection.mutable.ListBuffer
@(userForm: Form[CategoryForm])(implicit messages: Messages)

<h1>Add Category</h1>

@form(routes.CategoryController.categoryFormPost()) {
    @inputText(userForm("id"), Symbol("_label") -> "Category Id")
    @inputText(userForm("name"), Symbol("_label") -> "Category Name")

    <div class="buttons">
        <input type="submit" value="Add Category"/>
    </div>
}

<a href="@controllers.routes.CategoryController.availableCategories()">Back</a>